<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AirDox</title>
</head>
<body>
  <h1>ALl Listings</h1>
  <form action="/listings/new" method="post">
    <button type="submit">Create New Listing</button>
  </form>
  <ul>
  <% for(const listing of allListings) { %>

    <li>
      <a href="/listings/<%=listing._id %>"><%=listing.title%></a>
   <form action="/listings/<%=listing._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/listings/<%=listing._id %>/edit">Edit</a>
    </li>
  <% } %>
</ul>
</body>
</html>

