<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AirDox</title>
</head>
<body>
  <form action="/listings" method="POST">
    <input type="text" name="listing[title]" placeholder="Title of the listing" >
    <br>
    <br>
    <textarea name="listing[description]"  placeholder="Enter description" ></textarea>
    <br>
    <input type="text" name="listing[image]" placeholder="Enter image URL" >
    <br>
    <input name="listing[price]" placeholder="Enter price"  id="" type="number" >
    <br>
    <input type="text" name="listing[country]" placeholder="Enter country" >
    <br>
    <input type="text" name="listing[location]" placeholder="Enter location" >
    <br>
    <button type="submit">Create Listing</button>
  </form>
  
</body>
</html>